input[type="submit"]
button
  background transparent
  border 1px solid black
  padding 8px 20px
  color black

  &:disabled
    color: #ddd

button[data-icon]
  display flex
  flex-flow row wrap
  align-items center
