input[type="submit"]
button
  background transparent
  border 1px solid rgba(black, .7)
  padding 8px 20px
  color black

  &:disabled
    color: #ddd
    border-color: rgba(black, .15)

button[data-icon]
  display flex
  flex-flow row wrap
  align-items center
