fallbackSans = 'Helvetica'\, Arial\, sans-serif
fallbackSerif = 'Times New Roman'\, serif

fonts = {
  headings: 'Playfair Display'\, fallbackSerif
  body: 'Source Sans'\, fallbackSans
  ui: 'Roboto Condensed'\, fallbackSans
}
