ui = plus minus search like reply trending send star comment close document back bookmark unbookmark favs auth topics config share
socials = google github facebook auth0

for icon in ui
  [data-icon={icon}]
    &:before
      background-image: embedurl('./assets/icons/ui/' + icon + '.svg')

for icon in socials
  [data-icon={icon}]
    &:before
      background-image: embedurl('./assets/icons/social/' + icon + '.svg')

.avatar
  &:before
    background-image: embedurl('assets/icons/ui/defaultavatar.svg')
    size 90%
