ui = like reply send star comment close document back bookmark unbookmark favs auth topics config share

for icon in ui
  [data-icon={icon}]
    &:before
      background-image: embedurl('./assets/icons/ui/' + icon + '.svg')
