margins(adjust = 1)
  margin-bottom: smalls.tb * 2 * adjust

  +above(m)
    margin-bottom: smalls.tb * 3 * adjust

  +above(l)
    margin-bottom: smalls.tb * 4 * adjust

  +desktop()
    margin-bottom: smalls.tb * 5 * adjust
