@require 'config'
themesPath = 'themes/' + theme + '/'

requiredDeclarations = fonts palette typography

for declaration in requiredDeclarations
  @require themesPath + declaration

@require '_reset'
@require 'atoms/*'
