body
  font: 18px/1.66 body

.ui
  font-family: fonts.ui

h1
  font-size 42px
  line-height 48px
  font-family: fonts.headings

h2
  font-size 26px
  line-height 32px

h1
h2
h3
h4
h5
h6
  margin-bottom 1vr

h1 + h2
  margin-top - .5vr

p
  margin-bottom .75vr
