h2
h3
h4
h5
h6
  font-family: fonts.headings

margins(adjust = 1)
  margin-bottom: smalls.tb * 2 * adjust

  +above(m)
    margin-bottom: smalls.tb * 3 * adjust

  +above(l)
    margin-bottom: smalls.tb * 4 * adjust

  +desktop()
    margin-bottom: smalls.tb * 5 * adjust

h1
h2
h3
h4
h5
h6
  color black

h1
h2
h3
  margins(2)

article > *
  margins()

table
  max-width 100%

p
  &:not(:last-child)
    margin-bottom: smalls.tb * 4

a
  display block
  color: colors.principal.dark
  text-decoration underline
  text-transform none

  &:hover
    color red

figcaption
  font-size 12px
  font-style italic
  color #777
  margin-left 20px

.subtitle
  color: colors.principal.light

.meta
  color: colors.principal.light
  font-size 13px
  line-height 14px
  display block

  span
    &:not(:last-child)
      margin-right 12px
      padding-right 12px

.intro
  +above(m)
    font-size 24px
    line-height 32px

  +above(xl)
    font-size 32px
    line-height 40px



.ui
  font-family: fonts.ui
  h1
  h2
  h3
  h4
  h5
  h6
  p
    font-family: fonts.ui
    margin-bottom 8px
