h2
h3
h4
h5
h6
  font-family: fonts.headings

margins()
  margin-bottom: smalls.tb * 2

  +above(m)
    margin-bottom: smalls.tb * 3

  +above(l)
    margin-bottom: smalls.tb * 4

  +desktop()
    margin-bottom: smalls.tb * 5

h1
h2
h3
h4
h5
h6
  color black

h1
h2
h3
  margins()

article > *
  margins()

table
  max-width 100%
  display flex
  flex-flow column wrap
  border 1px solid red


p
  &:not(:last-child)
    margin-bottom: smalls.tb * 4

a
  display block
  color: colors.principal.dark
  text-decoration none
  text-transform none

  &:hover
    text-decoration underline

figcaption
  font-size 12px
  font-style italic
  color #777
  margin-left 20px

.subtitle
  color: colors.principal.light

.meta
  color: colors.principal.light
  font-size 10px
  line-height 12px
  display block

  +above(m)
    font-size 24px
    line-height 32px

  +above(xl)
    font-size 32px
    line-height 40px



.ui
  font-family: fonts.ui
  h1
  h2
  h3
  h4
  h5
  h6
  p
    font-family: fonts.ui
