.input
input
input[type="text"]
input[type="password"]
textarea
  font-size 14px
  line-height 16px
  border 0
  border: 1px solid transparent
  border-radius 2px
  transition all .15s ease-in-out
  background #eee
  padding 8px 12px
  color #666

  // &:focus
  //   border-color: colors.ui.primaryHover
  //   color: colors.typo.heading

  +above(l)
    font-size 12px

label
  font-size 14px
  text-transform capitalize

input[type="submit"]
button
  padding 8px 20px
  position relative
  cursor pointer

  &:disabled
    cursor default
    cursor disabled
